.heading {
    color: #483C75;
    font-family: 'Open Sans';
    font-weight: 300;
    font-size: 40px;
    flex-wrap: wrap;
    text-align: center;
}
h2 {
    color: #483C75;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 30px;
    text-align: center;
}

h4 {
    color: #483C75;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-top: 30px;
}
.profile-image {
    width: 15%;
    border-radius: 125px;
    box-shadow: 1px;
}
.line {
    border-style: solid;
    border-color:#483C75;
    border-bottom: .25px;
    opacity: 0.3;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;
}
.bio {
    color: #483C75;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bio p {
    max-width: 600px;
    flex-wrap: wrap;
    padding-left: 50px;
    font-weight: 100;
}
li {
    color: #483C75;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

.container{
    padding: 1em 0;
    float: left;
    width: 50%;
  }

  .container .title{
    color:  #483C75;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    font-weight:300;
  }

  .content {
    position: relative;
    width: 90%;
    max-width: 650px;
    max-height: auto;
    margin: auto;
    overflow: hidden;
  }
  .content .content-overlay {
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay{
    opacity: 1;
  }
  
  .content-image{
    width: 100%;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: .9;
  }

  .content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    font-family: 'Open Sans';
    font-weight: 100;
  }
  
  .content-details p{
    color: #fff;
    font-size: 0.8em;
  }

  
  .fadeIn-top{
    top: 20%;
  }
.truck-overlay-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 70px;
}
.truck-overlay-text li {
    color: white;
    font-family: 'Open Sans';
    font-weight: 100;
    text-align: center;
    font-size: 20px;
    list-style-type: disc;
    text-indent: -8px;
}
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/* .heading-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
} */